@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Leaflet Map Fixes */
.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 0;
  z-index: 0;
}

.leaflet-popup-content-wrapper {
  border-radius: 1rem !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
}

.leaflet-popup-tip-container {
  display: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

/* Animations */
@keyframes pulse-soft {

  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
}

.animate-pulse-soft {
  animation: pulse-soft 2s infinite ease-in-out;
}

/* Premium Minimal Map Filter */
.map-tiles-premium {
  filter: grayscale(100%) brightness(120%) contrast(100%) !important;
}

.leaflet-tile-pane {
  filter: brightness(1.1) contrast(0.8) grayscale(1);
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
  filter: none !important;
  /* Keep your markers bright (Red/Green/etc) */
}